@model WorldDomination.Models.GameModel

<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    <div class="update">
        <button class="update" id="update-button">Обновить</button>
    </div>
    <div class="currentCountry">
        <div class="header">
            <div class="nameCountry col-lg-1 col-md-2">
                <p>@Html.DisplayTextFor(model => model.Country.Name)</p>
            </div>
            <div class="countryStatistics col-lg-10 col-md-8">
                <div class="countryStatistic col-lg-5 col-md-4">
                    <div class="statistic1 col-lg-6 col-md-3">
                        <p>средний уровень жизни в стране:</p>
                    </div>
                    <div class="statistic2 col-lg-1 col-md-1">
                        <p>@Html.DisplayTextFor(model => model.Country.LifeLevel)%</p>
                    </div>
                </div>
                <div class="countryStatistic col-lg-5 col-md-4">
                    <div class="statistic1 col-lg-6 col-md-3">
                        <p>доступный бюджет:</p>
                    </div>
                    <div class="statistic2 col-lg-1 col-md-1">
                        <p>@Html.DisplayTextFor(model => model.Country.Budget)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Body">
            <div class="cities">
                <article class="city card col-lg-3 col-md-3">
                    @*<img class="card-img-top" src="../flags/Moscow-flag.png" alt="Флаг города">*@
                    <div class="card-header">@Html.DisplayTextFor(model => model.Country.Cities[0].Name)</div>
                    <div class="city-statistic card-body">
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Развитие</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[0].Progress)%</span>
                        </div>
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Ур.жизни</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[0].LifeLevel)%</span>
                        </div>
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Доход</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[0].Income)$</span>
                        </div>
                        <div class="card-text" style="padding-top: 0.1%;">
                            <a class="btn btn-success btn-block btn-outline-success" role="button">Развить экономику (0$)</a>
                            <a class="btn btn-danger btn-block btn-outline-danger" role="button">Развить вооружение (0$)</a>
                        </div>
                    </div>
                </article>
                <article class="city card col-lg-3 col-md-3">
                    @*<img class="card-img-top" src="../flags/Moscow-flag.png" alt="Флаг города">*@
                    <div class="card-header">@Html.DisplayTextFor(model => model.Country.Cities[1].Name)</div>
                    <div class="city-statistic card-body">
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Развитие</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[1].Progress)%</span>
                        </div>
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Ур.жизни</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[1].LifeLevel)%</span>
                        </div>
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Доход</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[1].Income)$</span>
                        </div>
                        <div class="card-text" style="padding-top: 0.1%;">
                            <a class="btn btn-success btn-block btn-outline-success" role="button">Развить экономику (0$)</a>
                            <a class="btn btn-danger btn-block btn-outline-danger" role="button">Развить вооружение (0$)</a>
                        </div>
                    </div>
                </article>
                <article class="city card col-lg-3 col-md-3">
                    @*<img class="card-img-top" src="../flags/Moscow-flag.png" alt="Флаг города">*@
                    <div class="card-header">@Html.DisplayTextFor(model => model.Country.Cities[2].Name)</div>
                    <div class="city-statistic card-body">
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Развитие</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[2].Progress)%</span>
                        </div>
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Ур.жизни</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[2].LifeLevel)%</span>
                        </div>
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Доход</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[2].Income)$</span>
                        </div>
                        <div class="card-text" style="padding-top: 0.1%;">
                            <a class="btn btn-success btn-block btn-outline-success" role="button">Развить экономику (0$)</a>
                            <a class="btn btn-danger btn-block btn-outline-danger" role="button">Развить вооружение (0$)</a>
                        </div>
                    </div>
                </article>
                <article class="city card col-lg-3 col-md-3">
                    @*<img class="card-img-top" src="../flags/Moscow-flag.png" alt="Флаг города">*@
                    <div class="card-header">@Html.DisplayTextFor(model => model.Country.Cities[3].Name)</div>
                    <div class="city-statistic card-body">
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Развитие</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[3].Progress)%</span>
                        </div>
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Ур.жизни</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[3].LifeLevel)%</span>
                        </div>
                        <div class="card-text">
                            <span class="characteristic" style="float: left;">Доход</span>
                            <span class="characteristic" style="float: right;">@Html.DisplayTextFor(model => model.Country.Cities[3].Income)$</span>
                        </div>
                        <div class="card-text" style="padding-top: 0.1%;">
                            <a class="btn btn-success btn-block btn-outline-success" role="button">Развить экономику (0$)</a>
                            <a class="btn btn-danger btn-block btn-outline-danger" role="button">Развить вооружение (0$)</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="actions">
                <div class="nuclear card">
                    <div class="card-header">ЯДЕРНОЕ ОРУЖИЕ</div>
                    <div class="card-body">
                        <a class="btn btn-danger btn-block btn-outline-danger" role="button">
                            Разработать ядерное оружие (0$)
                        </a>
                    </div>
                </div>
                <div class="body__container">
                    <div class="sanctions card col-lg-6 col-md-6">
                        <div class="card-header">САНКЦИИ</div>
                        <div class="card-body">
                            <div class="sanctions-to-me col-lg-6 col-md-6">
                                <p>
                                    Ни одна из стран не наложила на вас санкции
                                </p>
                            </div>
                            <div class="sanctions-from-me col-lg-6 col-md-6">
                                <p>На кого наложить:</p>
                                <ul style="list-style-type: none;">
                                    <li>
                                        <label><input type="checkbox">@Html.DisplayTextFor(model => model.OtherCountries[0].Name)</label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox">@Html.DisplayTextFor(model => model.OtherCountries[1].Name)</label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox">@Html.DisplayTextFor(model => model.OtherCountries[2].Name)</label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox">@Html.DisplayTextFor(model => model.OtherCountries[3].Name)</label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox">@Html.DisplayTextFor(model => model.OtherCountries[4].Name)</label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox">@Html.DisplayTextFor(model => model.OtherCountries[5].Name)</label>
                                    </li>
                                </ul>
                                <a class="btn btn-primary btn-block btn-outline-secondary" role="button">
                                    Наложить санкции
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="remittance card col-lg-6 col-md-6">
                        <div class="card-header">Денежный перевод</div>
                        <ul class="remittance__countries" style="list-style-type: none;">
                            <li>
                                <p>
                                    @Html.DisplayTextFor(model => model.OtherCountries[0].Name)
                                    <input type="number">
                                    $
                                </p>
                            </li>
                            <li>
                                <p>
                                    @Html.DisplayTextFor(model => model.OtherCountries[1].Name)
                                    <input type="number">
                                    $
                                </p>
                            </li>
                            <li>
                                <p>
                                    @Html.DisplayTextFor(model => model.OtherCountries[2].Name)
                                    <input type="number">
                                    $
                                </p>
                            </li>
                            <li>
                                <p>
                                    @Html.DisplayTextFor(model => model.OtherCountries[3].Name)
                                    <input type="number">
                                    $
                                </p>
                            </li>
                            <li>
                                <p>
                                    @Html.DisplayTextFor(model => model.OtherCountries[4].Name)
                                    <input type="number">
                                    $
                                </p>
                            </li>
                            <li>
                                <p>
                                    @Html.DisplayTextFor(model => model.OtherCountries[5].Name)
                                    <input type="number">
                                    $
                                </p>
                            </li>
                        </ul>
                        <a class="btn btn-success btn-block btn-outline-success" role="button">
                            Перевести деньги
                        </a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="card text-right body__orders col-lg-5 col-md-5">
                        <div class="card-header">Отданные приказы</div>
                        <div class="card-body">
                            <div class="body__income">
                                <p>Ваши доходы:</p>
                                <!--ul-->
                                <p>Ваши расходы:</p>
                                <!--ul-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="other-countries col-lg-12 col-md-12">
        <div class="other-country card">
            <div class="card-header">
                @Html.DisplayTextFor(model => model.OtherCountries[0].Name)
            </div>
            <div class="other-country-body card-body">
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[0].Cities[0].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[0].Cities[0].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[0].Cities[1].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[0].Cities[1].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[0].Cities[2].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[0].Cities[2].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[0].Cities[3].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[0].Cities[3].LifeLevel)%</p>
                </div>
            </div>
        </div>
        <div class="other-country card">
            <div class="card-header">
                @Html.DisplayTextFor(model => model.OtherCountries[1].Name)
            </div>
            <div class="other-country-body card-body">
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[1].Cities[0].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[1].Cities[0].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[1].Cities[1].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[1].Cities[1].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[1].Cities[2].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[1].Cities[2].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[1].Cities[3].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[1].Cities[3].LifeLevel)%</p>
                </div>
            </div>
        </div>
        <div class="other-country card">
            <div class="card-header">
                @Html.DisplayTextFor(model => model.OtherCountries[2].Name)
            </div>
            <div class="other-country-body card-body">
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[2].Cities[0].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[2].Cities[0].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[2].Cities[1].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[2].Cities[1].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[2].Cities[2].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[2].Cities[2].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[2].Cities[3].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[2].Cities[3].LifeLevel)%</p>
                </div>
            </div>
        </div>
        <div class="other-country card">
            <div class="card-header">
                @Html.DisplayTextFor(model => model.OtherCountries[3].Name)
            </div>
            <div class="other-country-body card-body">
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[3].Cities[0].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[3].Cities[0].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[3].Cities[1].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[3].Cities[1].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[3].Cities[2].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[3].Cities[2].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[3].Cities[3].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[3].Cities[3].LifeLevel)%</p>
                </div>
            </div>
        </div>
        <div class="other-country card">
            <div class="card-header">
                @Html.DisplayTextFor(model => model.OtherCountries[4].Name)
            </div>
            <div class="other-country-body card-body">
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[4].Cities[0].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[4].Cities[0].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[4].Cities[1].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[4].Cities[1].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[4].Cities[2].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[4].Cities[2].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[4].Cities[3].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[4].Cities[3].LifeLevel)%</p>
                </div>
            </div>
        </div>
        <div class="other-country card">
            <div class="card-header">
                @Html.DisplayTextFor(model => model.OtherCountries[5].Name)
            </div>
            <div class="other-country-body card-body">
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[5].Cities[0].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[5].Cities[0].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[5].Cities[1].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[5].Cities[1].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[5].Cities[2].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[5].Cities[2].LifeLevel)%</p>
                </div>
                <div class="other-country-city col-lg-3 col-md-3">
                    <p>@Html.DisplayTextFor(model => model.OtherCountries[5].Cities[3].Name)</p>
                    <p>Уровень жизни: @Html.DisplayTextFor(model => model.OtherCountries[5].Cities[3].LifeLevel)%</p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Game.js"></script>
</body>
</html>